#cesiumContainer {
	float: right;
	width: 70%;
	height: 89%;
}

* {
	font-family: Lato;
	color: white;
}

body {
	background-color: rgb(31,42,49);
}

.left-nav label {
	padding-left: 5px;
	padding-right: 5px;
	font-style: normal;
}
.left-nav button, .left-nav label {
    background-color:rgb(31,42,49);
    border: 1px solid white;
    color: white;
}

.header h1 {
	margin-bottom: 20px;
	color: rgb(31,42,1);
}

.left-nav {
	overflow: scroll;
	float: left;
	width: 30%;
	padding-right: 25px;
	padding-left: 25px;
	height: 90%;
	background-color: rgb(31,42,49);

}

hr {
	border-color: white;
	margin: 0;
}